/* Summary containers */
.ocrm-summary {
  padding: 1.5em 0 1.5em 5em;
  margin-bottom: 2em;
  border: 1px solid #000;
  border-width: 1px 0;
  font-size: 1.3em;
}
.ocrm-summary.ocrm-snug {
  padding-left: 2em;
}
.ocrm-summary + .ocrm-summary {
  border-top: none;
  margin-top: -2em;
}

/* General stat styling */
.ocrm-stat {
  display: inline-block;
  margin-left: 3em;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  line-height: 0.8;
  vertical-align: top;
}
.ocrm-snug .ocrm-stat {
  margin-left: 2em;
}
.ocrm-summary .ocrm-stat:first-of-type {
  margin-left: 0;
}
.ocrm-stat span {
  font-size: 2em;
  font-weight: bold;
  display: block;
  line-height: 1.1;
}
.ocrm-stat small {
  font-size: 0.6em;
}

/* Percentage geared stats */
.ocrm-stat-percentage {
  font-size: 2rem;
  margin-right: 2.25em;
}
.ocrm-stat-percentage span {
  font-size: 1.5em;
  display: inline;
}

/* Demoted stats */
.ocrm-stat-demote {
  font-size: 1.2rem;
  color: #666;
}

/* Link stats */
.ocrm-stat-links {
  font-size: 1.2em;
  text-align: right;
}

/* Coloured stats */
.ocrm-stat-red {
  color: red;
}
.ocrm-stat-amber {
  color: orange;
}
.ocrm-stat-green {
  color: green;
}

/* Buttons within stats */
.ocrm-summary > .buttons,
.ocrm-summary > .button {
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 10px;
  font-size: 0.666em;
}
.ocrm-summary > .buttons .button {
  font-size: 1em;
  background: #2698f2;
  font-weight: normal;
}
