
/* Exposed Forms */
#views-exposed-form-party-selection-vbo .views-exposed-widgets {
  margin-bottom: 0;
}
#views-exposed-form-party-selection-vbo .views-exposed-widget {
  float: none;
  padding: 0;
  margin-top: 0.3em;
  margin-bottom: 0 !important;
  font-size: 1.2em;
}

#views-exposed-form-party-selection-vbo .form-item-search {
  position: relative;
  padding: 0;
}
#views-exposed-form-party-selection-vbo .form-item-search input[type=text] {
  width: 100%;
  font-size: 1.125em;
  height: 2.5em;
  padding: 0.75em 3.25em 0.75em 0.75em;
  border: 1px solid #B2B2B2;
  border-color: rgba(0, 0, 0, 0.4);

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  -webkit-box-shadow: inset 2px 2px 2px 0px #D5D5D5;
          box-shadow: inset 2px 2px 2px 0px #D5D5D5;
}
#views-exposed-form-party-selection-vbo .form-item-search .field-suffix {
  position: absolute;
  top: 0;
  right: 0;
}
#views-exposed-form-party-selection-vbo .form-item-search .field-suffix:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(images/search-icon.png) no-repeat center center;
  pointer-events: none;
}
#views-exposed-form-party-selection-vbo .form-item-search input[type=submit] {
  margin: 0;
  font-size: 1.125em;
  height: 2.5em;
  text-indent: -999em;
  width: 2.5em;
}
#views-exposed-form-party-selection-vbo .form-item-search .field-suffix .ajax-progress {
  font-size: 1.125em;
  position: absolute;
  top: 0;
  right: 2.5em;
  width: 2em;
  bottom: 0;
  z-index: 999;
}
#views-exposed-form-party-selection-vbo .form-item-search .field-suffix .ajax-progress .throbber {
  position: relative;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
}
#views-exposed-form-party-selection-vbo .views-submit-button {
  visibility: hidden;
  height: 0;
}
#views-exposed-form-party-selection-vbo .views-reset-button input {
  background: none;
  border: none;
  padding: 0;
  margin: 0 !important;
  font-size: 1em;
}
#views-exposed-form-party-selection-vbo .views-reset-button input:hover,
#views-exposed-form-party-selection-vbo .views-reset-button input:active,
#views-exposed-form-party-selection-vbo .views-reset-button input:focus {
  text-decoration: underline;
}


/* Current Search */
.current-search .current-search-item-counts {
  font-size: 1.08em;
}
.current-search .current-search-item-active ul {
  overflow: hidden;
  margin: 0;
}
.current-search .current-search-item-active ul li {
  background: #0093BB;
  font-size: 1.08em;
  list-style: none;
  float: left;
  padding: 0.1em 0.2em;
  margin: 0 0.5em 0.5em 0 !important;
  color: #fff;
}
.current-search .current-search-item-active ul li a {
  background: #fff;
  color: #0093BB;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.2em;
  height: 1.2em;
  width: 1.2em;
  display: inline-block;
  text-align: center;

  -webkit-border-radius: 5em;
     -moz-border-radius: 5em;
          border-radius: 5em;

  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}

.pane-current-search-party-dashboard .current-search-item-counts:before {
  content: url(images/search-icon.png);
  vertical-align: -8px;
  margin-right: 0.2em;
}
.pane-current-search-party-dashboard .current-search-item-active ul {
  margin: 0;
}
.pane-current-search-party-dashboard .current-search-item-active ul li {
  display: inline-block;
  list-style: none;
  background: #0F7182;
  padding: 0.3em 0.5em;
}
.pane-current-search-party-dashboard .current-search-item-active ul li a {
  background: #55C0D3;
  color: #0F7182;
}

/* Facets */
.panel-sidebar .pane-facets {
  overflow-y: scroll;

  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}

/* Party Listings */
.party-selection {
  height: 100%;
  position: relative;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.party-selection .view-empty {
  padding: 1em;
  background: #fff;
}
.party-selection .view-content,
.party-selection-vbo .view-content-list {
  min-height: 400px;
  border: 1px solid #D5D5D5;
  overflow-y: scroll;
  background: #fff;
}
.party-selection-vbo .view-content {
  min-height: 0;
  border: none;
  overflow-y: visible;
  background: none;
}
.party-selection .views-row {
  border-top: 1px solid #D5D5D5;
  padding: 10px;
  overflow: hidden;
  position: relative;
}
.party-selection-simple .views-row {
  border: none;
}
.party-selection-solr-.views-display-id-vbo .views-row {
  border-top: 1px solid #D5D5D5;
}
.party-selection .views-row:first-child {
  border-top: none;
}
.party-selection .views-row:hover {
  background: #efefef;
}
.party-selection .views-row.active,
.party-selection .views-row.vbo-row-checked {
  background: #e0e0e0;
  position: relative;
}
.party-selection .with-photo {
  padding-left: 70px;
}
.party-selection .with-large-photo {
  padding-left: 120px;
}
.party-selection .with-photo .row-photo {
  float: left;
  margin-left: -60px;
}
.party-selection .with-photo .row-photo img {
  max-width: 50px;
  height: auto;
}
.party-selection .with-large-photo .row-photo {
  float: left;
  margin-left: -110px;
}
.party-selection .views-field-label {
  margin: 0;
}
.party-selection .views-field-party-hat {
  font-size: 0.85em;
  color: #666;
}
.party-selection .views-field-pid,
.party-selection .party-id {
  float: right;
  margin: 0 0 0.3em 0.5em;
}

.party-selection .item-list {
  border: 1px solid #D5D5D5;
  border-top: none;
  background: #fff;
}

/* Simple Listing */
.party-selection-simple {
  margin: 15px !important;
  border: 1px solid #B2B2B2;
  border-color: rgba(0, 0, 0, 0.4);
  color: #363636;
  width: auto !important;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;

  -webkit-box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, 0.3);
}
.party-selection-simple .party-id {
  font-size: 0.8em;
}
.panel-sidebar .sidebar .party-selection-simple a {
  color: #0F7182;
}

/* VBO */
.party-selection .vbo-views-form .views-row .form-item {
  position: absolute;
  left: 0.8em;
  top: 50%;
  margin-top: -10px;
}
.party-selection .vbo-fieldset-select-all .form-item {
  display: inline-block;
}

.party-selection .vbo-views-form fieldset.form-wrapper {
  border: none;
  margin: 0.3em 0;
}
.party-selection .vbo-views-form fieldset#edit-select {
  margin: 0;
}
.party-selection .vbo-views-form fieldset.vbo-fieldset-select-all em:after {
  content: "\00a0";
}

.party-selection .vbo-views-form fieldset.vbo-fieldset-select-all {
  background: #E1E1E1;
  border: 1px solid #D5D5D5;
  border-bottom: none;
  font-size: 1.1em;
  width: auto;
  margin: 0;
  padding: 0.2em 0.8em;
  text-align: left;

  -webkit-box-shadow: inset 0px 4px 4px 0px #D5D5D5;
          box-shadow: inset 0px 4px 4px 0px #D5D5D5;
}
.party-selection .vbo-fieldset-select-all .form-item {
  display: inline-block;
}

.party-selection .vbo-views-form .form-actions {
  margin: 0;
}

.party-selection .vbo-views-form .views-field-label {
  padding-top: 0.3em;
}

/* View Party */
#tabs-mini-panel-party_view {
  display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  display: -moz-box;      /* OLD: Firefox (buggy) */
  display: -ms-flexbox;   /* MID: IE 10 */
  display: -webkit-flex;  /* NEW, Chrome 21+ */
  display: flex;          /* NEW: Opera 12.1, Firefox 22+ */

  -webkit-box-orient: vertical;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
  -moz-box-orient: vertical;      /* OLD: Firefox (buggy) */
  -ms-flex-direction: column;     /* MID: IE 10 */
  -webkit-flex-direction: column; /* NEW, Chrome 21+ */
  flex-direction: column;         /* NEW: Opera 12.1, Firefox 22+ */

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */

  margin: 0;
}
#tabs-mini-panel-party_view,
#tabs-mini-panel-party_view > .ui-tabs-panel {
  /* Old Style */
  -webkit-box-flex: 1;
     -moz-box-flex: 1;
          box-flex: 1;

  /* New Style */
  -webkit-flex: 1;
     -moz-flex: 1;
          flex: 1;
}
#tabs-mini-panel-party_view > .ui-tabs-panel {
  overflow-y: scroll;
}

.party-view > .panel-section-top {
  padding-bottom: 1em;
}

.party-view .inline-panel .pane-title,
.party-view > .panel-section-top .pane-title {
  font-size: inherit;
  display: inline;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: inherit;
}
.party-view > .panel-section-top .pane-title {
  font-weight: inherit;
}
.party-view .inline-panel .pane-content,
.party-view > .panel-section-top .pane-content {
  display: inline;
}

.party-view > .panel-section-top .pane-party-label {
  font-size: 2em;
  padding-top: 0.5em;
  font-weight: bold;
}

#mini-panel-party_view .field-label-inline .field-label,
#mini-panel-party_view .field-label-inline .field-items,
#mini-panel-party_view .field-label-inline .field-item {
  float: none;
  display: inline;
}
#mini-panel-party_view .field-label-inline .field-item + .field-item:before {
  content: ", ";
}

.vbo-areas-of-interest-form .form-type-radios {
  padding: 0;
  margin: 0;
}
.vbo-areas-of-interest-form .form-type-radios > label {
  display: inline-block;
  width: 50%;
  max-width: 20em;
}
.vbo-areas-of-interest-form .form-type-radios .form-radios {
  display: inline-block;
}
.vbo-areas-of-interest-form .form-type-radios .form-type-radio {
  display: inline-block;
  margin-left: 1em;
}

/* Archive info styling */
.item-list .opencrm-archive-info-actions li {
  list-style-type: circle;
}
.item-list .opencrm-archive-info-actions li.ok,
.item-list .opencrm-archive-info-actions li.error {
  list-style-type: disc;
}

/* Deduping - not enough to warrant it's own stylesheet */
.opencrm-dedupe-match {
  color: green;
}
.opencrm-dedupe-conflict {
  color: red;
}
.opencrm-dedupe-link {
  float: right;
}
