body .block-user-login .content,
body .block-user-login .pane-content {
  padding: 1em;
}

.opencrm-unified-login {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */

  border: 1px solid #ccc;
  padding: 1em;
  margin-top: 1em;
  min-height: 21em;
}

#user-register-form .field-type-name .form-item {
  margin-bottom: 0;
}
#user-register-form .form-type-name-element > .clearfix > div {
  float: left;
}
#user-register-form .form-type-name-element > .clearfix > div + div {
  margin-left: 1em;
}
