/* Layout */
.panel-section-top > .panel-panel {
  float: left;
  min-height: 1em;
  width: 57%;

	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.panel-section-top > .panel-right {
  margin-left: 3%;
  width: 40%;
  text-align: right;
}
